@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 30, 41, 59;
  --foreground-hover-rgb: 100, 116, 139;
  --background-start-rgb: 246, 241, 241;
  --background-end-rgb: 175, 211, 226;
  --secondary-start-rgb: 20, 108, 148;
  --secondary-end-rgb: 25, 167, 206;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 226, 232, 240;
    --foreground-hover-rgb: 100, 116, 139;
    --background-start-rgb: 54, 103, 166;
    --background-end-rgb: 25, 52, 65;
    --secondary-start-rgb: 29, 93, 155;
    --secondary-end-rgb: 189, 216, 241;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.text-404 {
  background: linear-gradient(
    to right,
    rgb(var(--secondary-start-rgb)),
    rgb(var(--secondary-end-rgb)) 50%
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn-back-404 {
  @apply text-gray-800;
  background-color: rgb(var(--secondary-end-rgb));
}

.btn-back-404:hover {
  @apply text-gray-300;
  background-color: rgb(var(--secondary-start-rgb));
}

.lnk:hover {
  color: rgb(var(--foreground-hover-rgb));
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltipText {
  visibility: visible;
}

hr {
  border-color: rgb(var(--foreground-rgb));
}

.timeline_item {
  list-style: none;
  position: relative;
  padding: 0;
  padding-left: 60px;
}

.timeline_item::before {
  content: " ";
  border-radius: 50%;
  position: absolute;
  left: 15px;
  background: rgb(var(--foreground-rgb));

  @apply top-[2px] w-[10px] h-[10px] lg:top-[5px] lg:w-[15px] lg:h-[15px];
}

.timeline_item:not(:last-child) {
  padding-bottom: 30px;
}

.timeline_item:not(:last-child)::after {
  content: "  ";
  position: absolute;
  background: rgb(var(--foreground-rgb));

  @apply top-[2px] h-full w-[3px] left-[18px] lg:top-[5px] lg:w-[5px] lg:left-[20px];
}
