@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 30, 41, 59;
  --foreground-hover-rgb: 100, 116, 139;
  --background-start-rgb: 246, 241, 241;
  --background-end-rgb: 175, 211, 226;
  --secondary-start-rgb: 20, 108, 148;
  --secondary-end-rgb: 25, 167, 206;
  --button-active-rgb: 0, 0, 0, 0.19;
  --button-hover-rgb: 0, 0, 0, 0.37;
  --button-shadow-rgb: 255, 255, 255, 0.1;
  --dropdown-btn-rgb: 75 147 219;
  --dropdown-hover-btn-rgb: 97, 158, 219;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 226, 232, 240;
    --foreground-hover-rgb: 166, 167, 167;
    --background-start-rgb: 54, 103, 166;
    --background-end-rgb: 25, 52, 65;
    --secondary-start-rgb: 29, 93, 155;
    --secondary-end-rgb: 189, 216, 241;
    --button-active-rgb: 255, 255, 255, 0.25;
    --button-hover-rgb: 255, 255, 255, 0.19;
    --button-shadow-rgb: 0, 0, 0, 0.1;
    --dropdown-btn-rgb: 119, 169, 219;
    --dropdown-hover-btn-rgb: 75, 147, 219;
  }
}

@layer components {
  .padding-container {
    @apply px-12  sm:px-24 md:px-48 lg:px-64;
  }

  .text-p-responsive {
    @apply text-sm md:text-base lg:text-lg;
  }

  .text-h1-responsive {
    @apply text-lg sm:text-xl md:text-2xl lg:text-3xl;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  @apply min-h-screen;
}

.text-404 {
  background: linear-gradient(
    to right,
    rgb(var(--secondary-start-rgb)),
    rgb(var(--secondary-end-rgb)) 50%
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn-back-404 {
  @apply text-gray-800;
  background-color: rgb(var(--secondary-end-rgb));
}

.btn-back-404:hover {
  @apply text-gray-300;
  background-color: rgb(var(--secondary-start-rgb));
}

.lnk:hover {
  color: rgb(var(--foreground-hover-rgb));
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltipText {
  visibility: visible;
}

.timeline_item {
  list-style: none;
  position: relative;
  padding: 0;
  padding-left: 60px;
}

.timeline_item::before {
  content: " ";
  border-radius: 50%;
  position: absolute;
  left: 15px;
  background: rgb(var(--foreground-rgb));

  @apply top-[2px] w-[10px] h-[10px] lg:top-[5px] lg:w-[15px] lg:h-[15px];
}

.timeline_item:not(:last-child) {
  padding-bottom: 30px;
}

.timeline_item:not(:last-child)::after {
  content: "  ";
  position: absolute;
  background: rgb(var(--foreground-rgb));

  @apply top-[2px] h-full w-[3px] left-[18px] lg:top-[5px] lg:w-[5px] lg:left-[20px];
}

.timeline-header {
  @apply font-bold text-p-responsive;
}

.timeline-subheader {
  @apply text-sm lg:text-base;
}

.timeline-subheader--color {
  color: rgb(var(--foreground-hover-rgb));
}

.nav {
  @apply flex w-full py-5 px-3 justify-between;
}

.nav_icon {
  @apply my-auto text-5xl;
}

.nav_list {
  @apply flex gap-1 justify-end my-auto;
}

.nav_list-item a {
  color: rgb(var(--foreground-rgb));

  @apply block text-center no-underline p-1 px-3 rounded-full;
}

.nav_list-item a:hover,
.nav_list-item .active {
  box-shadow: 0 4px 30px rgba(var(--button-shadow-rgb));
  @apply backdrop-opacity-10;
}

.nav_list-item a:hover {
  background-color: rgb(var(--button-hover-rgb));
}

.nav_list-item .active {
  background-color: rgb(var(--button-active-rgb));
}

.typewriter p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(12, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.lang-dropdown-btn {
  background-color: rgb(var(--dropdown-btn-rgb));
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.lang-dropdown-btn:hover,
.lang-dropdown-btn:focus {
  background-color: rgb(var(--dropdown-hover-btn-rgb));
}

.lang-dropdown {
  position: absolute;
  display: inline-block;

  @apply drop-shadow-2xl;
}

.lang-dropdown button {
  min-width: 100%;
}

.lang-dropdown-content button:hover {
  background-color: #ddd;
}

.lang-dropdown-content button.isActive {
  background-color: #c0bfbf;
}

.lang-dropdown-content {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100%;
  overflow: auto;
  z-index: 1;
}

.lang-dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.self-container {
  @apply flex flex-col items-center justify-between gap-10 padding-container;
}

.main-avatar {
  @apply w-3/4 sm:w-2/4 lg:w-1/4;
}

.main-avatar-image {
  @apply drop-shadow-2xl w-full h-full;
}

.main-h1 {
  @apply text-h1-responsive xl:text-4xl 2xl:text-5xl;
}

.main-introduction {
  @apply flex flex-wrap gap-4 gap-y-2 font-bold justify-center text-center;
}

.main-introduction-h1 {
  @apply flex flex-wrap gap-4 gap-y-2 justify-center;
}

.main-social-media {
  @apply w-full max-w-60 flex flex-wrap justify-evenly;
}

.main-introduction-subheading {
  @apply text-p-responsive text-justify;
}

.about-h1 {
  @apply font-bold text-h1-responsive;
}

.about-hr {
  border-color: rgb(var(--foreground-rgb));
  @apply max-w-[150px] w-full border-2 lg:border-4;
}

.about-section {
  @apply flex flex-col gap-4;
}

.about-section-header {
  @apply leading-loose underline underline-offset-8 decoration-[3px] font-bold text-base sm:text-lg md:text-xl lg:text-2xl p-6;
}

.about-section-education-details {
  @apply flex flex-wrap gap-2;
}

.about-section-description {
  @apply list-disc list-inside;
}

.chip {
  color: rgb(var(--foreground-rgb));
  border-color: rgb(var(--foreground-rgb));

  @apply flex gap-1 border-solid border-2 rounded-full py-0.5 px-1 cursor-default;
}

footer {
  @apply w-full flex flex-wrap gap-1 items-center text-center justify-center py-8 padding-container text-p-responsive;
}
